.card-wrap {
  background-color: var(--white);
  padding: 1.4rem;
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.3);
  border-radius: 7px;
}

.card-header {
  display: flex;
  /* outline: 1px solid red; */
  align-items: center;
  justify-content: space-between;
}

.icon-count {
  background-color: var(--blue);
  color: var(--white);
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
}

.card-header p {
  color: var(--dark-grayish-blue);
}

.card-header p:hover {
  color: var(--blue);
  cursor: pointer;
}

/* Notification content */

.notify-content p {
  color: var(--grayish-blue);
}

/* Utility classes */

.notify-cont {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  gap: 0.8rem;
  margin-top: 1rem;
  background-color: var(--very-light-grayish-blue);
  padding: 0.9rem;
  border-radius: 10px;
}

.notify-cont-1 {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  gap: 0.8rem;
  margin-top: 1rem;
  /* background-color: var(--very-light-grayish-blue); */
  padding: 0.9rem;
  border-radius: 10px;
}

.notify-cont img {
  object-fit: contain;
  width: 40px;
  /* outline: 1px solid red; */
}

.notify-cont-1 img {
  object-fit: contain;
  width: 40px;
}

.bold {
  color: var(--very-dark-blue);
  font-weight: bold;
  margin-right: 0.3rem;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: var(--red);
  border-radius: 50%;
  display: inline-block;
  margin-left: 0.5rem;
}

.mins {
  color: var(--faint);
}

.faint {
  color: var(--dark-grayish-blue);
}

.blue {
  color: var(--blue);
  font-weight: bold;
  margin-left: 0.3rem;
}

.blue-hover:hover {
  cursor: pointer;
  color: var(--blue);
  font-weight: bold;
  transition: all 0.5s ease-in-out;
}

.comment {
  /* background-color: ; */
  border: 1px solid var(--grayish-blue);
  padding: 0.5rem;
  margin-top: 0.6rem;
  cursor: pointer;
}

.comment:hover {
  background-color: var(--light-grayish-blue-1);
  transition: all 0.5s ease-in-out;
}

/* Kim */

.kim-person-wrap {
  display: flex;
  gap: 0.7rem;
}
